.game{ width: 178px; height: 174px; padding-top: 11px; float: left; border: 0px solid #91C0DE; margin: 5px 0px 0px 1px; }

.jtList LI { float: left; display: block; margin: 10px 5px 4px 7px; padding: 0; height: 225px; width: 161px; background-image: url(../images/kuang11.gif); background-repeat: no-repeat; background-position: top; }

.cjLeft{ float:left; width:510px; margin-left:74px;}

.jtList22 LI { float: left; margin: 0px 20px 12px 10px; padding: 0; WIDTH: 92px; }

.jtList1 LI { float: left; margin: 10px 25px 12px 19px; padding: 0; WIDTH: 182px; }

.jtList2 LI { float: left; margin: 10px 10px 12px 15px; padding: 0; WIDTH: 110px; }

#slidingDoorFivecontent1{ float: left; width: 106px; height: 40px; text-align: center; margin: 0; line-height: 32px; margin-left: 89px; margin-top:30px; }

.cjgonggao{ width: 266px; padding:0px;}
.duihuanList li{ float: left; margin: 5px 9px 5px 4px; text-align: center; width: 111px; display: block; }

.newlpJtList li{ float: left; margin: 10px 20px 10px 11px; text-align: center; width: 111px; display: block; }

.newlpJtList2 li{ float: left; margin: 10px 0px 10px 11px; text-align: center; width: 111px; display: block; }

.dhmaL{ float: left; width: 372px; text-align: left; margin-left: 6px; }

.jtList21 LI { float: left; display: block; margin: 10px 29px 0px 15px; padding: 0; WIDTH: 182px; }

.jpList LI { float: left; display: block; margin: 12px 9px 0px 4px; padding: 0; WIDTH: 92px; }

.jpList1 li{ float: left; text-align: center; width: 190px; height: 168px; display: block; background-image: url(../images/shopact_12.jpg); background-repeat: no-repeat; background-position: center top; margin: 15px 30px 25px 0px; }

.dkList LI { float: left; display: block; margin: 10px 5px 4px 7px; padding: 0; height: 225px; width: 161px; background-image: url(../images/kuang11.gif); background-repeat: no-repeat; background-position: top; }

.dkList2 LI { float: left; margin: 10px 13px 4px 10px; padding: 0; WIDTH: 324px; height: 294px; background-image: url(../images/act_3.jpg); background-repeat: no-repeat; background-position: top; }

.dkList1 LI { float: left; margin: 10px 13px 4px 8px; padding: 0; WIDTH: 209px; height: 240px; border: 1px solid #e9e9e9; }